* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1D6E76;
    margin: 0 auto;
}

.header {
    background-color: #7C0220;
    padding: 10px 15px;
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav li {
    margin-right: 50px;
    
}

.main-nav a {
    color: white;
}

h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container img {
    height: 237px;
    margin: 3px;
    max-width: 100%;
    
}

.container {
    display: flex;
    max-width: 100%;
    /* find property to allow pictures to shrink with page */
}